hr
{
    border:none;
    border-collapse:collapse;
    color:#ccc;
    background-color:#ccc;
    height:1px;
}

a:hover
{
    text-decoration:underline;
}

ins, 
blockquote
{
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
}

small
{
    font-size:80%;
}

big
{
    font-size:120%;
}

.node-type-dr-post .field-field-dr-user,
.node-type-dr-post .views-field-field-dr-user-name-value,
.node-type-dr-post .field-field-dr-date
{
    color:#666;
}

.node-type-dr-post .views-field-field-dr-user-nid,
.node-type-dr-post .views-field-field-dr-user-name-value,
.node-type-dr-post .views-field-field-dr-date-value
{
    color:#666;
    line-height:28px;
}

.node-type-dr-post .views-field-field-dr-user-avatar-fid
{
    float:left;
    padding: 0 5px 5px 5px;
}

.node-type-dr-post .field-field-dr-user label,
.node-type-dr-post .field-field-dr-date label,
.node-type-dr-post .views-field-field-dr-user-nid label,
.node-type-dr-post .views-field-field-dr-user-name-value label,
.node-type-dr-post .views-field-field-dr-date-value label
{
    padding:5px;
    line-height:24px;
}

.node-type-dr-post .panel-pane.links,
.node-type-dr-post .views-field-phpcode .links
{
    float:right;
    font-size:80%;
    position:relative;
    top:-2em
}

.node-type-dr-post .panel-pane.links a,
.node-type-dr-post .views-field-phpcode .links a
{
    margin-left:10px;
    font-weight:bold;
}

.node-type-dr-post .pane-node-body,
.node-type-dr-post .views-field-body
{
    padding:20px 0;
    clear:left;
}

.view-dr-post-children .views-field-title 
{
    font-weight:bold;
    font-size:18px;
    border-top:1px solid #ccc;
    padding:5px;
    margin-top:10px;
    background:#eee;
}

.node-type-dr-post .views-field-field-dr-user-nid,
.node-type-dr-post .views-field-field-dr-user-name-value,
.node-type-dr-post .views-field-field-dr-date-value
{
    background:#eee;
}

h2.pane-title 
{
    font-size:24px;
    font-weight:bold;
    letter-spacing:-1px;
    padding:10px 0;
}

ul.links li
{
    margin-left:5px;
}

ul.links li.first
{
    margin-left:0;
}

#panel-dr_collection-reports .pane-content,
#panel-dr_post-reports .pane-content,
#panel-dr_user-reports .pane-content
{
    text-align:center;
}

div.view-filters
{
    padding:0 10px;
}

#content div.view-filters div.form-item
{
    margin-bottom:10px;
}

.form-item
{
    margin-bottom:10px;
}
