#dr-chunk-menu {
    position:fixed;
    top:50px;
    max-height:80%;
    overflow:auto;
    width:180px;
    font-size:11px;
    background: url('/sites/all/themes/singular/images/mask.png') repeat scroll 0 0;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
}

#dr-chunk-menu-inner {
  display:none;
}

#dr-chunk-menu ul li {
    font-weight:bold;
    margin:3px;
}

#dr-chunk-menu ul li ul {
    display:none;
}

#dr-chunk-menu ul li ul li {
    margin:3px;
    padding:0;
    font-size:inherit;
}

#dr-chunk-menu span {
    display:block;
    padding:1px;
}

#dr-chunk-menu .dr-chunk-vocab-name {
  color:#fff;
  cursor:pointer;
}

#dr-chunk-menu-slider {
  padding:2px 5px; 
  text-align:right;
}
